.container {
  background-color: blue;
  height: 300px;
  width: 300px;
  margin-left: 200px;
  position: relative;
}



.box {
  background-color: green;
  height: 100px;
  width: 100px;
  position:absolute;
  margin-top: 100px;
  left: -50px;
}